* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #3F5EFB;
    background: linear-gradient(182deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    display: flex;
    justify-content: center;
    color: #fff;
}

.content_box {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.perfil img {
    border-radius: 50%;
    border: 6px solid #fff;
}

.perfil h1 {
    font-size: 1.4rem;
}

.perfil p {
    text-align: center;
    font-size: 1.2rem;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.links_uteis ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.links_uteis ul a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border: 2px solid #444;
    text-decoration: none;
    color: #444;
    padding: 10px;
    border-radius: 8px;
    position: relative;
}

.links_uteis ul a:hover {
    background-color: #fff;
    border: 2px solid #666;
    color: #666;
    transition: background-color 0.3s ease;
}

.links_uteis ul a i {
    border-right: 2px solid #444;
    padding-right: 30px;
}

.links_uteis ul a span {
    flex-grow: 1;
    text-align: center;
}

.links_uteis .fundo_button{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #222;
    z-index: -999;
    top: -8px;
    right: 8px;
}

.redes_sociais ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 10px;
}

.redes_sociais ul a {
    color: #fff;
    font-size: 1.8rem;
}

.redes_sociais ul a.icon-insta:hover {
    color: #3b5998;
}

.redes_sociais ul a.icon-youtube:hover {
    color: #e1306c;
}

.redes_sociais ul a.icon-spotify:hover {
    color: #1ed760;
}

.redes_sociais ul a.icon-twitter:hover {
    color: #1da1f2;
}

footer p {
    text-align: center;
    font-weight: 100;
}